.outer_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height:100vh;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading_wrapper{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
}
.loading_wrapper h2 {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}
.inner_wrapper{
    border: 2px solid #e8e8e8;
    padding: 20px 40px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 #000;
}
.inner_wrapper h1{
    text-align: center;
    flex: 0 1 auto;
}
.best_weather_wrapper{
    text-align: center;
}
.best_weather_title {
    font-size: 1.5rem;
}
.gender_selector {
    background: transparent;
    font: inherit;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.gender_selector:focus {
    outline: 0;
}
.gender_selector option{
    -webkit-appearance: none;
    background: #c0c0c0;
    font: inherit;
    color: #fff;
}
.best_weather_city{
    margin-top: 20px;
    font-size: 4rem;
}
.best_weather_temp{
    font-size: 2rem;
}
.city_list_wrapper {
    font-family: 'Quicksand', sans-serif;
    margin: 0 20px;
    overflow-y: auto;
    flex: 1 1 auto;
}
.other_cities_title {
    text-align: center;
    margin: 30px 0 0;
    font-size: 1.3rem;
}
.city_wrapper,
.city_wrapper_header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.city_wrapper_header{
    margin: 10px 10px 0;
}
.city_wrapper{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.city_wrapper .city_name,
.city_wrapper_header .city_name_header{
    flex: 1 1 auto;
}
.city_wrapper .city_temp,
.city_wrapper_header .city_temp_header{
    flex: 0 1 auto;
    text-align: right;
}
i.owi {
    position: relative;
    top: 3px;
}
@media (max-width: 767px) {
    .outer_wrapper{
        height: initial;
        min-height: 100vh;
    }
    .inner_wrapper {
        padding: 10px;
    }
}
